In [38]:
import pandas as pd
import numpy as np

from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
factory = StemmerFactory()
stemmer = factory.create_stemmer()

# Read Data

In [15]:
stop = open('stopword tala.txt','r')
stoplist = stop.read().split('\n')
stop.close()

text = """Kupu-kupu terbang di atas pohon
Dia terbang sambil mencari pohon untuk bertelur
Pohon tempat kupu-kupu bertelur adalah pohon mangga
Kupu-kupu bertelur untuk berkembang biak"""
text = text.lower().split('\n')
text

['kupu-kupu terbang di atas pohon',
 'dia terbang sambil mencari pohon untuk bertelur',
 'pohon tempat kupu-kupu bertelur adalah pohon mangga',
 'kupu-kupu bertelur untuk berkembang biak']

# Preprocessing

In [29]:
stem,term = [],[]

for kalimat in text:
    kata = kalimat.split(' ')
    temp = []
    for token in kata:
        if token not in stoplist:
            temp.append(stemmer.stem(token))
    stem.append(temp)
    
for i in stem:
    for j in i:
        if j not in term:
            term.append(j)
term

['kupu-kupu', 'terbang', 'pohon', 'cari', 'telur', 'mangga', 'kembang', 'biak']

# Pembobotan Term

In [35]:
bobot = pd.DataFrame(0,index=term,columns=range(len(text)))

for k,kata in enumerate(stem):
    for temp in kata:
        bobot.loc[temp,k] += 1

bobot.columns = ['doc'+str(i) for i in range(len(text))]
bobot

           doc0  doc1  doc2  doc3
kupu-kupu     1     0     1     1
terbang       1     1     0     0
pohon         1     1     2     0
cari          0     1     0     0
telur         0     1     1     1
mangga        0     0     1     0
kembang       0     0     0     1
biak          0     0     0     1

# TF-IDF

In [45]:
frequency = []
for i in bobot.index:
    frequency.append((bobot.loc[i] > 0).values.sum())
frequency = pd.DataFrame(frequency)
    
np.seterr(divide = 'ignore')

tf = pd.DataFrame(np.where(bobot > 0, np.log10(bobot) + 1,0))
idf = pd.DataFrame(np.log10(len(bobot.columns)/frequency))
wtd = tf.values*idf.values

jumlah = np.sqrt(np.sum(np.square(wtd)))
normalization = pd.DataFrame(wtd/jumlah, index=bobot.index, columns=bobot.columns, dtype='float32')
normalization

               doc0      doc1      doc2      doc3
kupu-kupu  0.093581  0.000000  0.093581  0.093581
terbang    0.225477  0.225477  0.000000  0.000000
pohon      0.093581  0.093581  0.121752  0.000000
cari       0.000000  0.450954  0.000000  0.000000
telur      0.000000  0.093581  0.093581  0.093581
mangga     0.000000  0.000000  0.450954  0.000000
kembang    0.000000  0.000000  0.000000  0.450954
biak       0.000000  0.000000  0.000000  0.450954